*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inria Sans", sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
/* navbar */
.navbar__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 2rem;
    background-color: cadetblue;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.navbar__logo {
    width: 6rem;    
}
.abrir__menu, .cerrar__menu{
    display: none;
}
.navbar__links{
    display: flex;
    list-style: none;
    gap: 1rem;
}
.navbar__links li a{
    text-decoration: none;
    color: #fff;
}
@media screen and (max-width: 700px){
    .abrir__menu, .cerrar__menu{
        display: block;
        border: 0;
        font-size: 2rem;
        font-weight: 700;
        background-color: transparent;
        cursor: pointer;
        color: #fff;
    }
    .navbar__links__container{
        opacity: 0;
        visibility: hidden;

        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        padding: 2rem;
        background-color: #1c1c1c;
        box-shadow: 0 0 0 100vmax rgba(0,0,0,.5);
    }
    /* agregrar Js */
    .navbar__links__container.visible{
        opacity: 1;
        visibility: visible;
    }
    .navbar__links{
        flex-direction: column;
        align-items: end;
    }
}

/* header */
.section__header__container{
    height: 100vh;
    background: url(./images/lago_monaña.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    display: flex;
    align-items: end;
    padding-bottom: 4rem;
    padding-left: 1.5rem;
}
.section__header__text{
    color: #fff;
    font-size: 2rem;
}
.section__header__text button{
    width: 8rem;
    padding: .5rem;
    background-color: cadetblue;
    border-radius: 5px;
    border-style: none;
}
.section__header__text button a{
    text-decoration: none;
    color: #fff;
}

/* actividades */
.actividades{
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}
.actividades__title{
    padding: 2rem;
    text-align: center;
}
.actividades__title h2{
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.actividades__title p{
    font-size: 1rem;
}
.section__actividades{
    display: flex;
    justify-content: center;
    align-self: center;
    min-height: 100vh;
    max-width: 1500px;
}
.section__actividades .container{
    max-width: 100%;
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: (minmax(100px, auto));
    grid-auto-flow: dense;
    grid-gap: 10px;
}
.section__actividades .container .box{
    background-color: burlywood;
    padding: 1rem;
    transition: 0.5s;
}
.section__actividades .container .box:hover{
    background-color: #606c38;
}
.section__actividades .container .box img{
    max-width: 200px;
}
.section__actividades .container .box:nth-child(1){
    grid-column: span 2;
    grid-row: span 1;
}
.section__actividades .container .box:nth-child(2){
    grid-column: span 1;
    grid-row: span 2;
}
.section__actividades .container .box:nth-child(4){
    grid-column: span 1;
    grid-row: span 2;
}
.section__actividades .container .box:nth-child(5){
    grid-column: span 3;
    grid-row: span 1;
}
@media (max-width:990px) {
    .section__actividades .container{
        display: flex;
        flex-wrap: wrap;    
    }
    .section__actividades .container .box{
        display: flex;
        width: 100%;
    }
}


/*destinos */
.destinos{
    background-color: #ffddd2;
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.destinos__title{
    padding-bottom: 2rem;
    text-align: center;
}
.destinos__title h2{
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.destinos__title p{
    font-size: 1rem;
}
.destinos__container{
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    box-sizing: border-box;
}
.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .card {
    width: 280px;
    height: 360px;
    border-radius: 15px;
    padding: 1.5rem;
    background: white;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  }
  .card:hover {
    transform: translateY(20px);
  }
  .card:hover:before {
    opacity: 1;
  }
  .card:hover .info {
    opacity: 1;
    transform: translateY(10px);
  }
  .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
  }
  .card img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
  }
  .card .info {
    position: relative;
    z-index: 7;
    color: white;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.7s;
  }
  .card .info h1 {
    margin: 0px;
  }
  .card .info p {
    letter-spacing: 5px;
    font-size: 15px;
    margin: 8px 0;
  }
  .card .info button {
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 3px;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in;
  }
  .card .info button:hover {
    background:#e29578;
    color: white;
}

/* nosotros */
.nosotros{
    background: url(./images/fondo-nosotros.jpg);
    background-size: cover;
    height: 100vh;
    padding: 2rem;
    padding-top: 6rem;
    
}
.nosotros__section{
    display: flex;
    max-width: 600px;
}
.nosotros__container{
    background: rgba(255,255,255,.7);
    max-width: 600px;
    border: 2px solid #334755;
    padding: 1.5rem;
}
.nosotros__container p{
    margin: 10px 0;
    color: #666;
    font-size: 1rem;
    margin-top: 15px;
    line-height: 25px;
}
@media (max-width:525px){
    .nosotros{
       padding: 1rem;
       padding-top: 5rem;
    }
    .nosotros__container{
        padding: 0.5rem;
    }
    .nosotros__container p{
        font-size: 0.8rem;
    }
}

/* formulario contacto */
.contacto{
    background-color: #a8dadc;
    padding: 2rem;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacto__title{
    padding-bottom: 2rem;
    text-align: center;  
}
.contacto__title h2{
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.contacto__container{
    background-color: #ffe8d6;
    padding: 2rem;
    border-radius: .5rem;
}
.contacto__container form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: .2rem solid #a8dadc;
}
.form__control{
    display: flex;
    flex-direction: column;
}
.checkbox{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}
.form__control input, select{
    padding: .5rem;
    border: none;
}
.form__control textarea{
    padding: 1rem;
    border: none;
}
@media (max-width:500px){
    .contacto__title{
        padding-top: 2rem;
    }
    .contacto__container{
        width: 100%;
        padding: 0;
    }
    .contacto__container form{
        border-radius: .5rem;
    }
}

/* footer */
.footer__container{
    background-color: #334755;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    align-items: center;
}
.footer__logo img{
    width: 8rem;
}
.footer__redes{
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    
}
.copyright{
    padding: 1rem 2rem;
    text-align: center;
}
@media(max-width:625px){
    .footer__container{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
}