<!DOCTYPE html>
<html lang="zxx">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
  <link rel="shortcut icon" href="./images/favicom.png" type="image/x-icon" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nunito:wght@900&family=Sofia+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700&family=Sofia+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../style.css" />
    <body>
      <header class="nav_repeticion">
        <div id="navbar"></div>
      
            
          </header>
      <main class="main_html">
        <div class="container__paquetes"id="app">
          <form class="paquete_update_form">
          <h2>EDITAR PAQUETE</h2>
          <div class="mb-3">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" v-model="nombre">
          </div>
          <div class="mb-3">
            <label for="precio">Precio</label>
            <input type="number" name="precio" id="precio" v-model="precio">
          </div>
          <div class="mb-3">
            <label for="stock">descripcion</label>
            <input type="text" name="descripcion" id="descripcion" v-model="descripcion">
          </div>
          <div class="mb-3">
            <label for="tipoproducto">duracion</label>
            <input type="number" name="duracion" id="duracion" v-model="duracion">
          </div>
          <div class="mb-3">
            <label for="imagen">Imagen</label>
            <input type="text" name="imagen" id="imagen" v-model="imagen">
            <img width="100" :src="imagen" alt="">
          </div>   
          <div class="mb-3">
            <label for="guia">guia</label>
            <input type="text" name="guia" id="guia" v-model="guia">
          </div>    
          <div class="mb-3">
            <label for="traslado">traslado</label>
            <input type="text" name="traslado" id="traslado" v-model="traslado">
          </div>    
          <button type="button" class="btn btn-success" v-on:click="modificar()">Grabar</button>
          </form>
        </div>
      </main>
      <footer>
        <div id="footer"></div>
      </footer>
      <!-- Bootstrap JavaScript Libraries -->
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"> </script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"> </script>
      <script src="../js/main.js"></script>
      <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
      <script src="../js/paquete_editar.js"></script>
    </body>
    </html>
    